<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nearby Snotel Stations</title>
    </head>
<body>
    <h1>Nearby Snotel Stations</h1>
    {% if stations %}
    <ul>
    {% for station in stations %}
        <li>
        {{ station.station_name}}: {{station.distance}}
        <a href= "https://wcc.sc.egov.usda.gov/reportGenerator/view/customMultiTimeSeriesGroupByStationReport/hourly/start_of_period/{{ station.triple_id }}%7Cid=%22%22%7Cname/-23,0/WTEQ::value?fitToScreen=false" <button> Link </button></a> <!-- Button link -->
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    <button id = "find-me">Show my location</button><br/>
    <p id = "status"></p>
    <a id = "map-link" target="_blank"></a>
    <script>
        function geoFindMe() {

        const status = document.querySelector('#status');
        const mapLink = document.querySelector('#map-link');

        mapLink.href = '';
        mapLink.textContent = '';

        function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;

        status.textContent = '';
        mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
        mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
        }

        function error() {
        status.textContent = 'Unable to retrieve your location';
        }

        if(!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
        } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
        }

        }

        document.querySelector('#find-me').addEventListener('click', geoFindMe);
    </script>
    
</body>
</html>
